@{
    ViewData["Title"] = "Home Page";
}
@model PianoModel; 

<div class="text-center">
    <h1 class="display-4">Давайте немного помузицируем ;)</h1>
    <form action="/Home/Index" method="POST">
        <input name="number" type="number"/>
        /
        <input name="divider" type="number"/>
        <input name="stave" type="text"/>
        <button type="submit">Проверить</button>
    </form>
    @if (Model != null)
    {
        @if (Model.Success)
        {
        <p>Успешно проверено</p>
        }

        else{ 
        <p>Что то пошло не так</p>
        }

    }
</div>
